<html>
	<head>
		<title> BUSCADOR DE TESIS </title> 
	</head>
	<body  style="background-color:Khaki  ;">
		<h1 style="text-align:center; color:FireBrick;"> BUSCADOR DE TESIS </h1>
				<form style="text-align:center;" action='buscarTesis' method='POST'>
			<label> Buscar Tesis: </label>
			{% csrf_token %}
			<input type='text' name='palabras' /> <input type='submit' value='Buscar' />
		</form>
		<pre style="text-align:center; color:ForestGreen; font-size:16px;">
		
			
Puede realizar la busqueda de tesis por el nombre de tesis, autor, palabra clave 
	
		</pre>
	</body>
</html>
