<html >
	<head>
		<title>Resultados de la búsqueda</title>
	</head>
	<body  style="background-color:PaleGoldenRod;">
		<h1 style="text-align:center; color:SlateBlue;"> TESIS   ENCONTRADAS </h1>
		{% for tesi in resultados %}
			<h3 style="color:DodgerBlue;"> Nombre de la Tesis: {{tesi.nombre}}</h3>
			<pre style="font-size:16px;">  Autores: {{tesi.autor_1}} - {{tesi.autor_2}}  Tutor: {{tesi.tutor}}  jurados: {{tesi.jurado1}} - {{tesi.jurado2}}</pre>
			<pre style="font-size:16px;">  Resumen: {{tesi.resumen}} </pre>
			<pre style="font-size:16px;">  Calificacion: {{tesi.calificacion}}   Estatus: {{tesi.estatus}}   Escuela: {{tesi.escuela}}</pre>
			<pre style="font-size:17px; color:Blue;">  Ubicacion: </pre>
			<pre style="font-size:16px;">   Sede: {{tesi.ubicacion.sede}}   Edificio: {{tesi.ubicacion.edificio}}   Piso: {{tesi.ubicacion.piso}}   Estante: {{tesi.ubicacion.estante}} </pre>
			<hr>
		{% endfor %}
	</body>
</html>
